@CHARSET "UTF-8";

html, body {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    overflow:hidden;    
}

.appConfirmDialog {
    min-width:150px;
}
.appConfirmDialog .appDialogPaneButtons,
.appConfirmDialog .dijitDialogPaneContent {
    text-align:center;
    background: #fff;
}
