@CHARSET "UTF-8";

html, body {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    overflow:hidden;    
}

.appIconEditCopy   { background-image:url('http://cdn.devgrid.net/icon/nuvola/1.0/16x16/actions/editcopy.png'); }
.appIconEditCut    { background-image:url('http://cdn.devgrid.net/icon/nuvola/1.0/16x16/actions/editcut.png'); }
.appIconEditPaste  { background-image:url('http://cdn.devgrid.net/icon/nuvola/1.0/16x16/actions/editpaste.png'); }

#contextMenu { 
	position:absolute;
	opacity:0;
}
